In [2]:
# notebook: visualizar_inmet.ipynb

import pandas as pd

# caminho do arquivo consolidado
path = "../data/consolidated/INMET/inmet_all_years_cerrado.csv"

# lê apenas as primeiras linhas (para não pesar)
df = pd.read_csv(path, nrows=10)

# mostra o head
df.head()

,DATA (YYYY-MM-DD),HORA (UTC),PRECIPITAÇÃO TOTAL,HORÁRIO (mm),PRESSAO ATMOSFERICA AO NIVEL DA ESTACAO,HORARIA (mB),RADIACAO GLOBAL (KJ/m²),TEMPERATURA DO AR - BULBO SECO,HORARIA (°C),TEMPERATURA DO PONTO DE ORVALHO (°C),...,VENTO,DIREÇÃO HORARIA (gr) (° (gr)),VENTO.1,RAJADA MAXIMA (m/s),VENTO.2,VELOCIDADE HORARIA (m/s),ANO,CIDADE,LATITUDE,LONGITUDE
0,2000-05-07,01:00,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,...,BRASILIA,"-15,78944444","-47,92583332",NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2000-05-07,02:00,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,...,BRASILIA,"-15,78944444","-47,92583332",NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2000-05-07,03:00,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,...,BRASILIA,"-15,78944444","-47,92583332",NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2000-05-07,04:00,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,...,BRASILIA,"-15,78944444","-47,92583332",NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2000-05-07,05:00,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,...,BRASILIA,"-15,78944444","-47,92583332",NaN,NaN,NaN,NaN,NaN,NaN,NaN